@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './reset.scss';

:root {
  --color-primary: #5f44c6;
  --color-primary-contrast: #eee;
  --color-secondary: #fe8601;
  --color-secondary-contrast: #eee;
  --color-danger: crimson;
  --color-danger-contrast: #fff;
  --color-info: #69f;
  --color-info-contrast: #fff;
  --color-success: #1abc9c;
  --color-success-contrast: #fff;
  --color-warning: #f39c12;
  --color-warning-contrast: #fff;
  --color-bg: #fff;
  --color-bg-contrast: #333;
  --color-bg-secondary: #f2f2f2;
  --color-bg-secondary-contrast: #333;
  --color-black: #000;
  --color-white: #fff;

  --header-height: 64px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-contrast);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-contrast);
}

body {
  background-color: var(--color-bg);
  color: var(--color-bg-contrast);
  font-family: 'Roboto', sans-serif;
}

body {
  --color-bg: #111;
  --color-bg-contrast: #fff;
  --color-bg-secondary: #191919;
  --color-bg-secondary-contrast: #fff;
  --color-bg-tertuary: #333;
  --color-bg-tertuary-contrast: #fff;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding-top: var(--header-height);
}
